<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Conditional Outputs</title>
</head><body><b>Conditions and turnary operator<br/>
<br/>
</b>The turnary operator<b><br/>
</b><b><br/>
</b><tt><span style="color: #007f7f">// condition ? (if true) : (if false) &nbsp;</span></tt><br/>
<br/>
The condition is stated as follows:<br/>
<br/>
<tt><span style="color: #00007f">return ninja.age &gt; 20<br/>
<br/>
then<br/>
<br/>
</span></tt><tt><span style="color: #00007f">?</span></tt><br/>
<br/>
then the JSX inside the first if true, etc..<b><br/>
</b><b><br/>
</b><span style="color: #00007f"><tt>return ninja.age &gt; 20 ? (<ul><li style="list-style-type: none">&lt;div className="ninja" key={ninja.id}&gt;</li>
<li style="list-style-type: none"><ul><li style="list-style-type: none">&lt;div&gt;Name: {ninja.name}&lt;/div&gt;</li>
<li style="list-style-type: none">&lt;div&gt;Age: {ninja.age}&lt;/div&gt;</li>
<li style="list-style-type: none">&lt;div&gt;Belt: {ninja.belt}&lt;/div&gt;</li>
</ul>
</li>
<li style="list-style-type: none">&lt;/div&gt;</li>
</ul>
) : (null);</tt></span></body></html>