<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Functions as Props</title>
</head><body><b>Functions as Props<br/>
<br/>
</b>On crée une fonction, on la passe via le JSX.<br/>
We import the addNinja.js<br/>
<br/>
<tt><span style="color: #00007f">import AddNinja from './components/addNinja.js</span></tt><br/>
<br/>
Then we place that component as a tag <tt><span style="color: #00007f">&lt;addNinja /&gt;</span></tt>&nbsp;inside the render method to show it on the HTML.<br/>
Inside the tag we add an attribute <tt><span style="color: #00007f">addNinja</span></tt>&nbsp;with the props inside <tt><span style="color: #00007f">this.addNinja</span></tt>.<br/>
<br/>
<span style="color: #00007f"><tt>&lt;AddNinja addNinja = { this.addNinja } /&gt;</tt></span><br/>
<br/>
Important, if we touch an array and want to add or delete, the best way is to copy it with the spread operator <tt><span style="color: #00007f">[...array]</span></tt><br/>
<br/>
<span style="color: #00007f"><tt>let ninjas = [...this.state.ninjas, ninja];</tt></span><br/>
<br/>
Then we pass it as the state of the Component<br/>
<br/>
<span style="color: #00007f"><tt>this.setState({ ninjas: ninjas })<br/>
</tt></span><tt><span style="color: #007f7f">// if the new props have the same name, it is possible to do it this way</span><span style="color: #00007f"><br/>
</span><span style="color: #00007f">this.setState({ ninjas })</span></tt></body></html>