<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Single Page Apps</title>
</head><body><b>SIngle Page Apps</b><br/>
<br/>
One one page served to the browser from the server. We only update the content delivered to the user.<br/>
React takes over the app before it reaches the server.<br/>
<br/>
<b>Types of files<br/>
<br/>
</b>In the folder /src we create another folder js/components. Inside, we put the file App.js<br/>
This is the Root Component.<br/>
<br/>
<tt><span style="color: #00007f">import React, {Component} from "react";<br/>
import ReactDOM from "react-dom";<br/>
<br/>
class App extends Component{<ul><li style="list-style-type: none">render(){</li>
<li style="list-style-type: none"><ul><li style="list-style-type: none">return(</li>
<li style="list-style-type: none"><ul><li style="list-style-type: none">&lt;divclassName="App"&gt;</li>
<li style="list-style-type: none"><ul><li style="list-style-type: none">&lt;h1&gt;WelcometoReact&lt;/h1&gt;</li>
<li style="list-style-type: none">&lt;p&gt;Welcome!&lt;/p&gt;</li>
</ul>
</li>
<li style="list-style-type: none">&lt;/div&gt;</li>
</ul>
</li>
<li style="list-style-type: none">)</li>
</ul>
</li>
<li style="list-style-type: none">}</li>
</ul>
}<br/>
<br/>
exportdefaultApp;<br/>
<br/>
</span><span style="color: #007f7f">// we could also place this inside the index.js</span><span style="color: #00007f"><br/>
</span><span style="color: #00007f">const wrapper = document.getElementById("root");<br/>
</span><span style="color: #007f7f">// that's a turnary operator !!</span><span style="color: #00007f"><br/>
</span></tt><tt><span style="color: #00007f">wrapper ? ReactDOM.render(&lt;App/&gt;, wrapper) : false;</span></tt><span style="color: #569cd6"><span style="font-size: 14pt"><span style="font-family: Consolas"><span style="background-color: #1e1e1e"><span style="color: #d4d4d4"><br/>
</span></span></span></span></span><span style="color: #569cd6"><span style="font-size: 14pt"><span style="font-family: Consolas"><span style="background-color: #1e1e1e"><span style="color: #d4d4d4"><br/>
</span></span></span></span></span><b>Nesting Components<br/>
<br/>
</b>We have to nest the others components inside the root component.<br/>
We can switch these components.<br/>
<br/>
<tt><span style="color: #00007f">import React, { Component } from 'react'<br/>
<br/>
classNinjas extends Component {<ul><li style="list-style-type: none">render(){</li>
<li style="list-style-type: none"><ul><li style="list-style-type: none">return(</li>
<li style="list-style-type: none"><ul><li style="list-style-type: none">&lt;di vclassName="ninja"&gt;</li>
<li style="list-style-type: none">&lt;div&gt;Name:Ryu&lt;/div&gt;</li>
<li style="list-style-type: none">&lt;div&gt;Age:30&lt;/div&gt;</li>
<li style="list-style-type: none">&lt;div&gt;Belt:Black&lt;/div&gt;</li>
<li style="list-style-type: none">&lt;/div&gt;</li>
</ul>
</li>
<li style="list-style-type: none">)</li>
</ul>
</li>
<li style="list-style-type: none">}</li>
</ul>
</span></tt><tt><span style="color: #00007f">}</span></tt><br/>
<br/>
<span style="color: #00007f"><tt>exportdefaultNinjas</tt></span><br/>
<br/>
Inside the App.js:<tt><br/>
</tt><tt><br/>
<span style="color: #00007f">importNinjasfrom"./Ninjas"</span><br/>
</tt><br/>
and inside the HTML of App.js:<br/>
<br/>
<tt><span style="color: #00007f">&lt;Ninjas/&gt;</span></tt></body></html>