<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Props</title>
</head><body><b>Props<br/>
<br/>
</b><b>What are props ?</b><br/>
<br/>
Way to pass data from one component to another one.<br/>
<br/>
Under<span style="color: #00007f">&nbsp;<tt>render(</tt></span><br/>
<br/>
<span style="font-size: 10pt"><tt><span style="font-family: monospace"><span style="color: #00007f">const{name,age,belt}=this.props;</span></span></tt></span><br/>
<br/>
then, we replace the variables inside a div as JSX.<br/>
<br/>
<tt><span style="color: #00007f">&lt;div&gt;Name:{name}&lt;/div&gt;</span></tt><br/>
<br/>
This way, it's possible to print the same component with different data.<br/>
<br/>
<b>Outputting Lists<br/>
<br/>
</b>First, in the main JS file, before render, we have to make a function called state<br/>
<br/>
<tt><span style="color: #00007f">state = {<ul><li style="list-style-type: none">ninjas: [</li>
<li style="list-style-type: none"><ul><li style="list-style-type: none">{ name: 'Ryu', age: 30, belt:'black', id: 1 },</li>
<li style="list-style-type: none">{ name: 'Yoshi', age: 20, belt: 'green', id: 2 },</li>
<li style="list-style-type: none">{ name: 'Crystal', age: 25,belt: 'pink',id: 3 }</li>
</ul>
</li>
<li style="list-style-type: none">]</li>
</ul>
} &nbsp;<br/>
</span></tt><br/>
and call the component in the HTML this way<br/>
<br/>
<tt><span style="color: #00007f">&lt;Ninjas ninjas = { this.state.ninjas } /&gt;</span></tt><br/>
<br/>
In the App JS file, we get the array create in the main JS file and make it a props:<br/>
<br/>
<tt><span style="color: #00007f">const {ninjas} = this.props;</span></tt><br/>
<br/>
Then we create an array and map this array into it:<br/>
<br/>
<tt><span style="color: #00007f">const ninjaList = ninjas.map(ninja =&gt; {<ul><li style="list-style-type: none">return(</li>
<li style="list-style-type: none"><ul><li style="list-style-type: none">&lt;div className="ninja" key={ninja.id}&gt;</li>
<li style="list-style-type: none"><ul><li style="list-style-type: none">&lt;div&gt;Name:{ninja.name}&lt;/div&gt;</li>
<li style="list-style-type: none">&lt;div&gt;Age:{ninja.age}&lt;/div&gt;</li>
<li style="list-style-type: none">&lt;div&gt;Belt:{ninja.belt}&lt;/div&gt;</li>
</ul>
</li>
<li style="list-style-type: none">&lt;/div&gt;</li>
</ul>
</li>
<li style="list-style-type: none">)</li>
</ul>
</span></tt><tt><span style="color: #00007f">})</span></tt><br/>
<br/>
Finally, we return the list in the HTML as a dynamic JS code:<br/>
<br/>
<tt><span style="color: #00007f">return(<ul><li style="list-style-type: none">&lt;divclassName="ninja-list"&gt; {ninjaList} &lt;/div&gt;</li>
</ul>
</span></tt><span style="color: #00007f"><tt>)</tt><br/>
</span></body></html>