<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS in React</title>
</head><body><b>CSS in React</b><br/>
<br/>
We could create a css file for each component or one for all.<br/>
<br/>
We can import the .css file to the Component.<br/>
<br/>
More info about the CSS modules in React: https://blog.pusher.com/css-modules-react/<br/>
</body></html>