<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lifecycle Methods</title>
</head><body><b>Lifecycle Methods<br/>
<br/>
</b>We have a Mounting, Updating and Unmounting phase.<br/>
<br/>
<b>Mounting<br/>
<br/>
</b>When it is first created and mounted.<br/>
<br/>
First method is <b>constructor.<br/>
</b><br/>
Second method is <b><tt><span style="color: #00007f">getDerivedStateFromProps().</span></tt><br/>
</b>Enables component to update it's internal state as the result of changes in the props.<b><br/>
</b>Triggers on first render and whenever we recieve updated props.<br/>
Possible to compare the props and the state.<br/>
<br/>
Then <b><tt><span style="color: #00007f">render()</span></tt>.<br/>
</b>Only required method in tthe component, will return some form of JSX.<br/>
<br/>
Then we get <b><span style="color: #00007f"><tt>ComponentDidMount()</tt></span><br/>
</b>Fires once component is mounted - good to get exterior data like from a database.<br/>
<br/>
<b>Updating<br/>
<br/>
</b>First method is <b><tt><span style="color: #00007f">getDerivedStateFromProps()<br/>
</span></tt></b><b><br/>
</b>Then <b><tt><span style="color: #00007f">ShouldComponentUpdate()</span></tt><br/>
</b><b><br/>
</b>Gets current and new states / props. We can return false to prevent the component to render.<br/>
Only returns true when there is a change.<br/>
<br/>
Then <b><tt>render()</tt><br/>
</b><b><br/>
</b>After that, we have <b><tt><span style="color: #00007f">GetSnapshotBeforeUpdate()</span></tt>, </b>we get read access to the DOM before the change is commited to it.<br/>
We get values such as the window position, and return it inside the method. Method value is passed through the last hook.<br/>
<br/>
Then <b><tt>ComponentDidUpdate()</tt>, </b>that is called after template is rendered. Good place to get external data.<br/>
If we update state inside this hook, we could get an inifite loop.<br/>
<br/>
<b>Examples<br/>
<br/>
componentDidMount<br/>
<br/>
</b><tt><span style="color: #00007f">componentDidMount(){<ul><li style="list-style-type: none">console.log('componentmounted');</li>
</ul>
</span></tt><tt><span style="color: #00007f">}</span></tt><br/>
<br/>
c<b>omponentDidUpdate<br/>
</b><br/>
<tt><span style="color: #00007f">componentDidUpdate(prevProps,prevState){<ul><li style="list-style-type: none">console.log("componentupdated");</li>
<li style="list-style-type: none">console.log(prevProps,prevState);</li>
</ul>
</span></tt><tt><span style="color: #00007f">} &nbsp;</span></tt><br/>
</body></html>