<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Virtual DOM</title>
</head><body><b>Virtual DOM</b><br/>
<br/>
We have the App.js<br/>
<ul><li style="list-style-type: none"><ul><li style="list-style-type: none"><ul><li style="list-style-type: none">Container</li>
</ul>
</li>
</ul>
</li>
</ul>
<br/>
<br/>
<br/>
Ninjas.js&#09;&#09;&#09;&#09;AddNinjas.js<br/>
UI Component&#09;&#09;&#09;Container<br/>
<br/>
To add ninjas we do it through Ninjas.js with addNinjas.<br/>
When props updates, it rerenders the template, via the UI Ninja.js<br/>
<br/>
To handle Props, container, to handle UI, UI Component.<b><br/>
</b><b><br/>
</b>Ninja.js is constantly updating. Every time we have an update, Rract makes a JS representation of the template.<br/>
The new virtual DOM created is compared to the current virtual DOM.<br/>
When there are changes, differences are updated - only the differences are updated.<br/>
<br/>
Then new Current DOM becomes the current one. Etc...</body></html>